@import 'tailwindcss';
@import 'sveltewind/themes/palettes.css';

@source '../../node_modules/sveltewind/dist';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
	--color-abtl-blue-50: #f8f8fc;
	--color-abtl-blue-100: #edeef7;
	--color-abtl-blue-200: #dcdeef;
	--color-abtl-blue-300: #bfc3e3;
	--color-abtl-blue-400: #7f87c7;
	--color-abtl-blue-500: #4851a3;
	--color-abtl-blue-600: #333a75;
	--color-abtl-blue-700: #282d5b;
	--color-abtl-blue-800: #161932;
	--color-abtl-blue-900: #0b0c19;
	--color-abtl-blue-950: #06070e;

	--color-abtl-red-50: #fdf6f7;
	--color-abtl-red-100: #fbe9ea;
	--color-abtl-red-200: #f7d4d5;
	--color-abtl-red-300: #f1b1b4;
	--color-abtl-red-400: #e36369;
	--color-abtl-red-500: #c7232b;
	--color-abtl-red-600: #8a181d;
	--color-abtl-red-700: #681217;
	--color-abtl-red-800: #3d0b0d;
	--color-abtl-red-900: #1e0507;
	--color-abtl-red-950: #110304;

	--color-gray-50: #faf9fb;
	--color-gray-100: #f2f0f5;
	--color-gray-200: #e4e1ea;
	--color-gray-300: #cfc9d9;
	--color-gray-400: #9f93b4;
	--color-gray-500: #72628e;
	--color-gray-600: #504563;
	--color-gray-700: #3a3248;
	--color-gray-800: #221d2a;
	--color-gray-900: #110f15;
	--color-gray-950: #0a080c;

	--color-primary-50: var(--color-abtl-blue-50);
	--color-primary-100: var(--color-abtl-blue-100);
	--color-primary-200: var(--color-abtl-blue-200);
	--color-primary-300: var(--color-abtl-blue-300);
	--color-primary-400: var(--color-abtl-blue-400);
	--color-primary-500: var(--color-abtl-blue-500);
	--color-primary-600: var(--color-abtl-blue-600);
	--color-primary-700: var(--color-abtl-blue-700);
	--color-primary-800: var(--color-abtl-blue-800);
	--color-primary-900: var(--color-abtl-blue-900);
	--color-primary-950: var(--color-abtl-blue-950);

	--color-secondary-50: #fff5fb;
	--color-secondary-100: #ffe5f6;
	--color-secondary-200: #ffcced;
	--color-secondary-300: #ffa3df;
	--color-secondary-400: #ff51c2;
	--color-secondary-500: #eb0098;
	--color-secondary-600: #a8006d;
	--color-secondary-700: #7a0050;
	--color-secondary-800: #47002e;
	--color-secondary-900: #240017;
	--color-secondary-950: #14000d;

	--color-tertiary-50: #fff8f5;
	--color-tertiary-100: #ffeee5;
	--color-tertiary-200: #ffdecc;
	--color-tertiary-300: #ffc3a3;
	--color-tertiary-400: #ff8e51;
	--color-tertiary-500: #eb5200;
	--color-tertiary-600: #a83b00;
	--color-tertiary-700: #7a2b00;
	--color-tertiary-800: #471900;
	--color-tertiary-900: #240c00;
	--color-tertiary-950: #140700;
}
